.gant-page {
  display: flex;
  flex-flow: column nowrap;
  height: 100%
}

.label-color {
  min-width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  margin-right: 8px;
}

.label-notice {
  min-width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 2px;
}

.label-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  padding-right: 12px;
}

.schedule-page {
  height: 100%;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

.page-center {
  margin: 0 auto;
  overflow: visible;
  max-width: 1028px;
  width: 100vw;
  padding: 0 12px;
  box-sizing: border-box;
}

.schedule-menu-center {
  margin: 0 auto;
  overflow: visible;
  max-width: 1028px;
  width: 100vw;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.page-center-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
}

.schedule-head {
  background: #fff;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.schedule-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 16px;

  @media (max-width: 450px) {
    & {
      padding-top: 20px;
    }
  }
}

.schedule-title-left {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: var(--text-4-headline, #272928);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;

  :global(.group-name) {
    margin-right: 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    white-space: nowrap;

    img {
      margin-right: 12px;
    }

    & > a {
      margin-right: 0.3em;
      text-decoration: none;
      color: #6CD7B2;
      font-size: 24px;
      font-weight: 700;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }

    & > a::first-letter {
      text-transform: uppercase;
    }

    @media (max-width: 450px) {
      & {
        font-size: 20px;
        flex-flow: column wrap;
        align-items: flex-start;
      }
      & a {
        font-size: 20px;
      }
    }
  }
}

.schedule-title-left-name {
  margin-right: 0.2em;
  text-transform: capitalize;
}

.schedule-x {
  width: 100vw;
  height: calc(100vh - 46px);
}

.gant-menu {
  display: flex;
  flex-flow: row wrap;
  padding: 12px;
  background: #fff;
  align-items: flex-start;
  justify-content: space-between;

  .page-slide {
    display: flex !important;
  }

  .year {
    font-size: 20px;
    margin-right: 12px;
    font-weight: 600;
    white-space: nowrap;

    span {
      margin-left: 8px;
    }
  }

  .left, .right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .menu-item {
    max-width: 70%;
    margin-right: 16px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  :global {
    div[data-baseweb="select"] {
      width: auto;
      display: inline-block;
      line-height: initial;
      cursor: pointer;

      > div {
        background: none;
        font-size: 14px;
        border-width: 1px !important;
        border-color: var(--color-item-border);

        > div {
          padding: 6px 12px;
          font-size: 12px;
          font-weight: 500;
          color: var(--color-text-main);

        }
      }
    }

    .event-label-list {
      display: flex;
      flex-flow: row nowrap;
      overflow: auto;
      margin-right: 30px;

      &::-webkit-scrollbar {
        display: none;
      }

      .event-label-item {
        white-space: nowrap;
      }
    }
  }

  & > button {
    margin-right: 10px;
  }
}

$border-color: #e0e0e0 !default;
.gantt-warp {
  flex: 1;
  overflow: hidden;

  :global {
    #gantt-head {
      width: 100vw;
      background: #fff;
      z-index: 9;
      height: 60px;
      border-bottom: 1px solid $border-color;
      border-top: 1px solid $border-color;
      padding-right: 20px;
      box-sizing: border-box;

      .gantt-container::-webkit-scrollbar {
        display: none;
      }

      .gantt-container {
      }
    }

    #gantt .gantt-container {
      width: 100vw;
      height: calc(100vh - 48px - 64px - 60px);


      &::-webkit-scrollbar-thumb {
        background: #bebebe;
        width: 20px;
      }

      &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }
    }

  }
}

.gantt {
  box-sizing: border-box;
  overflow: hidden;
}

.schedule-title-right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.schedule-title-date {
  color: #212525;
  font-size: 29.097px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 6px;
}

.schedule-title-day {
  color: #C1C3C0;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.create-btn {
  display: flex;
  height: 32px;
  padding: 4px 12px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid var(--fill-6-dark, #272928);
  text-decoration: none;
  color: var(--text-4-headline, #272928);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.create-btn-2 {
  display: none;
}

.schedule-menu-1 {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
  align-items: flex-start;

  @media (max-width: 450px) {
    & .menu-item:last-child {
      display: none;
    }

    :global(.event-label-list) {
      flex-flow: row nowrap;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    :global(.event-label-item) {
      white-space: nowrap;
    }
  }
}

.schedule-menu-2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding-top: 2px;
}

.mouth {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--fill-6-dark, #272928);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.to-today {
  display: inline-flex;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  height: 24px;
  border-radius: 4px;
  border: 0.5px solid var(--line-2-dark, #CECED3);
  background: var(--fill-1-light-disabled, #F8F9F8);
  color: var(--text-4-headline, #272928);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  margin-left: 20px;
}

.show-joined {
  display: flex;
  flex-flow: row nowrap;
  color: var(--text-4-headline, #272928);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
  cursor: pointer;
}

.show-joined-normal {
  fill: #d4d4d4
}

.show-joined-active {
  fill: #63f5c2
}

.schedule-content {
  background: #F8F9F8;
  overflow: auto;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.height100 {
  height: 100%;
}

.date-column {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  border-right: 1px solid #F1F1F1;
  max-width: 100%;
  min-width: 100%;



  @media (min-width: 576px) {
    & {
      max-width: calc(100% / 3);
      min-width: calc(100% / 3);
    }
  }

  @media (min-width: 768px) {
    & {
      max-width: calc(100% / 4);
      min-width: calc(100% / 4);
    }
  }

  @media (min-width: 1025px) {
    & {
      max-width: calc(100% / 5);
      min-width: calc(100% / 5);
    }
  }

  @media (min-width: 1200px) {
    & {
      max-width: calc(100% / 7);
      min-width: calc(100% / 7);
    }
  }
}

.events {
  width: 100%;
  padding: 0 2.5px;
  box-sizing: border-box;
}

.date-day {
  display: flex;
  width: 100%;
  padding: 12px 12px;
  align-items: center;
  box-sizing: border-box;
  color: var(--text-4-headline, #272928);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  justify-content: center;
  background: #fff;
}

.month {
  margin-right: 10px;
}

.date {
  display: flex;
  width: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--primary-color-brand-16, #fff);
  color: var(--text-4-headline, #272928);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 10px;
}

.date-active {
  display: flex;
  width: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--primary-color-brand-16, #9EFEDD);
  color: var(--text-4-headline, #272928);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-left: 10px;
}

.schedule-event-card {
  border-radius: 4px;
  background: var(--fill-0-white, #FFF);
  padding: 8px;
  box-sizing: border-box;
  display: block;
  margin-top: 5px;
  box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.1);
  text-decoration: none;
  height: 203px;
}

.schedule-event-card-time {
  color: var(--text-4-headline, #272928);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

.schedule-event-card-name {
  color: var(--text-4-headline, #272928);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  max-height: 44px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px;
  text-decoration: underline;
}

.schedule-event-card-host {
  display: flex;
  flex-flow: row nowrap;
  color: var(--text-3-subtitle, #4F5150);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.schedule-event-card-avatar {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 6px;
}

.schedule-event-card-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--color-ui-2, #1B2028);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  margin-left: 2px;
  margin-right: 6px;
}

.link-icon {
  margin-left: 4px;
}

.location-text {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.schedule-event-card-tag {
  color: var(--color-ui-2, #1B2028);
  font-size: 12px;
  font-style: normal;
  margin-top: 4px;
  display: flex;
  flex-flow: row nowrap;

  span {
    height: 18px;
    max-width: 144px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.schedule-event-card-dot {
  height: 10px;
  min-width: 10px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 3px;
  background: #f1f1f1;
  margin-top: 3px;
}

.page-center-full-row {
  display: flex;
  flex-flow: row nowrap;
}

.page-center-full-list {
  flex: 1;
  overflow: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  width: 100vw;
  margin: 0 auto;
  transition: transform 0.2s, opacity 0.05s;

  &.fade-out {
    opacity: 0;
  }

  &.move-left {
    transform: translateX(100px);
  }

  &.move-right {
    transform: translateX(-100px);
  }
}

.content-bg {
  flex: 1;
  width: 100vw;
  background: #F8F9F8;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding-bottom: 20px;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content-bg-2 {
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 52px;
  z-index: 0;
}

.date-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  box-sizing: border-box;
  max-height: 50px;
  min-height: 50px;
  background: #fff;
}

.event-wrapper {
  flex: 1;
  width: 100%;
  overflow: scroll;
  user-select: none;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 2;


  &::-webkit-scrollbar {
    display: none;
  }
}

.date-bar-wrapper {
  max-height: 52px;
  min-height: 52px;
  background: #fff;
  overflow: auto;
  user-select: none;
  padding: 0 12px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;

  .date-column {
    border-color: #fff;
  }
}

.date-bar-wrapper::-webkit-scrollbar {
  display: none;
}

.event-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  min-height: 100%;
}

.wap {
  .timezone-selected {
    display: none;
  }

  .page-slide {
    display: none;
  }
}

@media (max-width: 450px) {
  .create-btn-2 {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 4px 8px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid #272928;
    color: var(--text-4-headline, #272928);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    background: #fff;
  }

  .create-btn {
    display: none;
  }

  .timezone-selected {
    display: none !important;
  }




  .wap {
    .timezone-selected {
      display: block !important;
      margin-left: 6px;
    }

    .page-slide {
      display: flex !important;
      margin-right: 12px;
    }
  }
}

.timezone-selected {
  margin-right: 10px;

  :global(*) {
    font-size: 12px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: none !important;
    border: none !important;
    outline: none;
  }

  :global(div[data-baseweb="select"]) {
    align-items: center;
    border-radius: 4px;
    border: 0.5px solid var(--line-2-dark, #CECED3) !important;
    background: var(--fill-1-light-disabled, #F8F9F8) !important;
    color: var(--text-4-headline, #272928) !important;
    font-size: 12px !important;;
    cursor: pointer;
    font-weight: 500;
    margin-left: 8px;
  }
}

.page-slide {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  svg {
    cursor: pointer;
    padding: 10px;

    &.disable {
      pointer-events: none;
      opacity: 0.3;
    }

    &:hover {

      & path {
        fill: #63f5c2;
      }
    }
  }

  svg:nth-child(2) {
    cursor: pointer;
    padding: 0;
  }
}

.gantt-popup {
  width: 300px;
  max-height: 160px;
  background: #fff;
  box-sizing: border-box;
  overflow: auto;
  padding: 12px;

  .link {
    display: block;
    float: right;
    text-decoration: none;
    padding: 4px 8px;
    color: #0D0D0D;
    background: #63f5c2;
    border-radius: 4px;
    margin-top: 6px;
    font-weight: 600;

    &:hover {
      background: #9efedd;
    }
  }

  .name {
    color: #0D0D0D;
    font-size: 14px;
    font-weight: 600;
  }

  .detail {
    margin: 2px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    span {
      width: calc(100% - 20px);
      text-overflow: ellipsis;
      color: #0D0D0D;
      white-space: nowrap;
      overflow: hidden;
    }

    img {
      height: 18px;
      width: 18px;
      border-radius: 50px;
      margin-right: 6px;
    }

    i {
      margin-right: 6px;
    }
  }
}

.drop-list {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
  box-sizing: border-box;
  width: 100%;
  vertical-align: middle;

  i {
    display: inline-block;
    height: 12px;
    width: 12px;
    min-width: 12px;
    border-radius: 50px;
    margin-right: 8px;
  }
}

.schedule-menu-1 {
  .menu-item {
    max-width: 70%;
    margin-right: 16px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    :global {
      span[data-baseweb="tag"] {
        background: #f1f1f1;
        color: #272928
      }

      div[data-baseweb="select"] {
        width: auto;
        display: inline-block;
        line-height: initial;
        cursor: pointer;

        > div {
          background: none;
          font-size: 14px;
          border-width: 1px !important;
          border-color: var(--color-item-border);

          > div {
            padding: 6px 12px;
            font-size: 12px;
            font-weight: 500;
            color: var(--color-text-main);

          }
        }
      }

      .event-label-list {
        display: flex;
        flex-flow: row nowrap;
        overflow: auto;
        margin-right: 30px;

        &::-webkit-scrollbar {
          display: none;
        }

        .event-label-item {
          white-space: nowrap;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .mobile-hide {
    display: none !important;
  }
}

.calendar-event-popup {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;

  .event-content {
    margin-top: 4px;
    height: 200px;
    overflow: auto;
    margin-right: 12px;
  }

  .no-event-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border-radius: 12px;
    color: #999;
    height: 200px;
    font-weight: 600;
    margin: 16px;
  }

  .link {
    height: 42px;
    font-weight: 600;
    flex-flow: row nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #333;
    background: #9efedd;

    &:hover {
      background: #63f5c2;
    }
  }
}
